<div class="row">
  <h1 class="center">Super Yacht Surplus</h1>

  <% @products.each() do |product| %>
    <div class="col s4">
      <div class="card blue lighten-4 hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="<%= url('img/shaddai-superyacht.jpeg') %>" alt="A big yacht" />
          <span class="card-title activator">So wow. Much ostentiatious.</span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <a href="/purchase/<%= @purchase.id() %>/products/<%= product.id() %>"><%= product.name() %></a>
            <i class="material-icons right">close</i>
          </span>
          <p>$<%= product.price() %>0</p>
        </div>
        <div class="card-action valign-wrapper">
          <% if product.purchase_id != @purchase.id() %>

          <form action="/purchase/<%=@purchase.id()%>/products/<%= product.id%>" method="post" class="right-align valign">
            <input name="_method" type="hidden" value="patch">
            <button type="submit" name="<%= product.id() %>" id="<%= product.id() %>" class="btn waves-effect waves-light orange darken-4 valign">Add to Cart</button>
          </form>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col s12">
    <a href="/purchase/<%=@purchase.id%>" class="btn waves-effect waves-light green darken-4 valign">Checkout</a>
  </div>
</div>
